.dialogs {
    background-color: brown;
    display: grid;

    grid-template-columns: 2fr 10fr;
}

.dialogsItem {

}

.dialogsItem.dialog {

}

.messages {

}

.messages.message {

}

.dialogs textarea {
    border-radius: 5px;
    width: 50%;
}